<form class="sub-form" [formGroup]="subscribeForm" (ngSubmit)="login()">
    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>Votre prenom</mat-label>
            <input matInput formControlName="firstName">
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>Votre nom</mat-label>
            <input matInput formControlName="lastName">
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>Votre email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>Votre mot de passe</mat-label>
            <input matInput formControlName="password">
        </mat-form-field>
    </div>
    
    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>Votre pseudo</mat-label>
            <input matInput formControlName="pseudo">
        </mat-form-field>
    </div>

    <button matButton mat-raised-button type="submit">envoyé</button>
</form>