.main-connect {
    margin: 150px;
}
.main-title {
    text-align: center;
    margin: 50px;
}

.id-field {
    display: flex;
    justify-content: center;
}

.id-field>div{
    margin: 5px;
}

.button-connect {
    display: flex;
    justify-content: center;
}