.main-connect {
    margin: 75px;
}

.id-field {
    display: flex;
    justify-content: center;
}

.id-field>div{
    margin: 5px;
}

.button-connect {
    display: flex;
    justify-content: center;
}
